import pandas as pd
from snakemake.utils import validate, min_version
##### set minimum snakemake version #####
min_version("5.10.0")

## User files ##
samples = pd.read_table(config["samples"], index_col="sample")
units = pd.read_table(config["units"], index_col=["unit"], dtype=str)
reheader = pd.read_csv(config["reheader"],index_col="Lab_ID", dtype=str, sep="\t")
sets = pd.read_csv(config["sets"], index_col=["set"], dtype=str, sep="\t")

## Local rules ##
# When using snakemake profiles to run the pipeline on a computer cluster,
# the following rules will be executed locally instead of being submitted
# by the job scheduler 
localrules: all, pre_rename_fastq_pe, post_rename_fastq_pe, pre_rename_fastq_se, post_rename_fastq_se, concatVcfs

## Target files ##
rule all:
    input:
        # Interactive HTML QC report
#        "qc/multiqc.html",
        # Final CRAM
#        expand("reads/recalibrated/{sample.sample}.dedup.recal.cram",
#              sample=samples.reset_index().itertuples()),
        # Coverage with GATK DepthOfCoverage
#        expand("reads/recalibrated/{sample.sample}.sample_gene_summary", sample=samples.reset_index().itertuples()),
        # VCF before recalibration, for each interval
#        expand("variant_calling/all.{interval}.vcf.gz",
#                interval=[str(i).zfill(4) for i in
#                        range(0, int(config.get('rules').get
#                        ('gatk_SplitIntervals').get('scatter-count')))]),
        # VCF before recalibration
#        "variant_calling/all.vcf.gz",
        # VCF after recalibration
#        "variant_calling/all.snp_recalibrated.indel_recalibrated.vcf.gz",
        # Manta
#        expand("variant_calling/sv/{set.set}/{set.set}.diploidSV.vcf.gz",set=sets.reset_index().itertuples()),
        # MantaINV
#        expand("variant_calling/sv/{set.set}/{set.set}.diploidSV_INV.vcf.gz",set=sets.reset_index().itertuples()),

## Load rules ##
include_prefix="rules"
include:
    include_prefix + "/functions.py"
include:
    include_prefix + "/trimming.withCopy.smk"
include:
    include_prefix + "/alignment.smk"
include:
    include_prefix + "/samtools.smk"
include:
    include_prefix + "/picard.smk"
include:
    include_prefix + "/bsqr.smk"
include:
    include_prefix + "/picard_stats.smk"
include:
    include_prefix + "/call_variants.smk"
include:
    include_prefix + "/joint_call.smk"
include:
    include_prefix + "/qc.smk"
include:
    include_prefix + "/vqsr.smk"
include:
    include_prefix + "/manta.smk"
